fastapi==0.115.3
starlette==0.41.2
pydantic==2.9.2
email-validator==2.2.0
uvicorn==0.32.0
websockets==13.1
python-multipart==0.0.16
opencv-python==4.10.0.84
opencv-contrib-python==4.10.0.84
mediapipe==0.10.15
dlib==19.24.6
imutils==0.5.4
numpy==1.26.4
scipy==1.14.1
pillow==10.4.0

-e .
